{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/css/Setpassword.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="form-header">
                <img src="{% static 'images/C3DLogo1.png' %}" width="150px" alt="Logo">
                <h4>Reset Your Password</h4>
            </div>

            {% if messages %}
                <div id="messages">
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Form -->
            <form method="POST" action="{% url 'reset_password_confirm' uidb64=uidb64 token=token %}" class="form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-input">
                    <label for="new_password">New Password:</label>
                    {{ form.new_password }}
                    {% for error in form.new_password.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-input">
                    <label for="confirm_password">Confirm Password:</label>
                    {{ form.confirm_password }}
                    {% for error in form.confirm_password.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="submit-btn">Reset Password</button>
            </form>
        </div>
    </div>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
