<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/Homepage.css">
</head>

<body>

    <div class="sign">
        <div class="fullsign">
            <div class="sign1">
                <h1>Register</h1>
            </div>

            <div class="sign2">

                <form action="{% url 'CreateUser' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="username">Enter User Name</label>
                        <input type="text" id="username" value="{{ form.username.value }}" name="{{ form.username.name }}" placeholder="Enter Username" />
                        {% for error in form.username.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="email">Enter Email</label>
                        <input type="email" id="email" value="{{ form.email.value }}" name="{{ form.email.name }}" placeholder="Enter Email" />
                        {% for error in form.email.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="password1">Enter Password</label>
                        <input type="password" id="password1" value="{{ form.password1.value }}" name="{{ form.password1.name }}" placeholder="Enter Password" />
                        {% for error in form.password1.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" id="password2" value="{{ form.password2.value }}" name="{{ form.password2.name }}" placeholder="Confirm Password" />
                        {% for error in form.password2.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <button type="submit">Submit</button>

                    <br>
                    <h2>Already have an account? &nbsp;&nbsp;
                        <button type="button" class="create-btn">
                            <a href="/Login" class="signin-link">Sign in</a>
                        </button>
                    </h2>
                </form>

            </div>
        </div>
    </div>

</body>

</html>
