<html>
    <head>
        <title>Home Screen</title>
    </head>
    <body>
        <h1>Welcome to the Home Screen</h1>

        {% if user.is_authenticated %}
            <p>Username: {{ user.username }}</p>

            <!-- Logout Button -->
            <form method="POST" action="{% url 'Logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <p>You are not logged in.</p>
        {% endif %}
    </body>
</html>
