/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

.container {
    /* display: flex; */
    min-height: 100vh;
    margin-top: 10%;
}

.row {
    /* display: flex; */
    width: 100%;
    margin-top: 20%;
}

.col-left {
    flex: 1;
    background-image: url("{% static 'images/background.jpg' %}");
    background-size: cover;
    background-position: center;
}

.col-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.logo-container img {
    display: block;
    margin: 0 auto;
}

.form-header h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group .icon {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 20px;
}

.form-group input {
    width: 80%;
    padding: 12px 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.button-container {
    margin-top: 20px;
}

.submit-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 20px;
}

.register-link .link {
    color: #007bff;
    text-decoration: none;
}

.register-link .link:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .col-left {
        display: none;
    }

    .col-right {
        width: 100%;
    }

    .form-container {
        padding: 20px;
    }
}


